<ion-header>
  <ion-navbar>
    <button button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="errorMsg">
        <p>{{errorMsg}}</p>
      </div>
      <p>Olá {{username}}</p>
    <button ion-button *ngFor="let page of pages" (click)="navigateTo(page)">
      <div>
        <ion-icon name="{{page.icon}}"></ion-icon>
        <br>
        <label>{{page.title}}</label>
      </div>
      </button>
  <!--<button ion-button secondary menuToggle> Menu</button>-->
  <button ion-button secondary (click)="getUser()"> GET USER</button>
</ion-content>
<ion-footer color="dark">
    <ion-toolbar>
      <ion-title>UEvora - Projeto Integrado @2018</ion-title>
    </ion-toolbar>
  </ion-footer>