page-tasks {
  
  .play {
    background-color: blue;
    width: 100%;
  }

  .pause {
    background-color: orange;
    width: 100%;
  }

  .done {
    width: 100%;
  }
  .done-all {
    color: green;
  }
  .executing {
    color: blue;
  }
  .scheduled {
    color: orange;
  }
  .blocked {
    color: red;
  }
  .spinner-section {
    position: relative;
    height: 100%;
    background-color: rgba(68, 68, 68, 0.37);
    .spinner {
      padding-left: 35%;
      padding-top: 25%;
      ion-spinner * {
        width: 108px;
        height: 108px;
        stroke: green;
        fill: green;
      }
    }
    .spinner-text {
      padding-left: 22%;
      padding-top: 20%;
      color: green;
    }
  }
}
